* {
	outline: none;
	box-sizing: border-box;
}

body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

button {
	border: none;
	background: none;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
