@mixin button($width, $height, $color) {
  display: inline-block;
  width: $width;
  height: $height;
  color: $color;
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 8px;
  background: none;
  transition: background .3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
  z-index: z(button);
}
