// WHITE
$c-white: #ffffff;
$c-white--transparent: rgba(255, 255, 255, 0.2);
$c-white--semitransparent: rgba(255, 255, 255, 0.8);

// YELLOW
$c-yellow--ligher: #fcf9d9;
$c-yellow--transparent: rgba(157, 168, 142, 0.8);

// GREY
$c-grey: #eeeeee;
$c-grey--dark: #727272;

// BLUE
$c-blue: #6fa0d9;
$c-blue--light: #75abe4;
$c-blue--dark: #395186;

// GREEN
$c-green: #78af52;
$c-green--light: #a6d956;

// PURPLE
$c-purple: #e61873;

// RED
$c-red: #d62814;
