// WHITE
$white: #FFFFFF;
$white--transparent: rgba(255, 255, 255, .2);
$white--semitransparent: rgba(255, 255, 255, .8);

// YELLOW
$yellow--ligher: #FCF9D9;
$yellow--transparent: rgba(157, 168, 142, .8);

// GREY
$grey: #EEEEEE;
$grey--dark: #727272;

// BLUE
$blue: #6FA0D9;
$blue--light: #75ABE4;
$blue--dark: #395186;

// GREEN
$green: #78AF52;
$green--light: #A6D956;

// PURPLE
$purple: #E61873;

// RED
$red: #D62814;