// WHITE
$c-white: #FFFFFF;
$c-white--transparent: rgba(255, 255, 255, .2);
$c-white--semitransparent: rgba(255, 255, 255, .8);

// YELLOW
$c-yellow--ligher: #FCF9D9;
$c-yellow--transparent: rgba(157, 168, 142, .8);

// GREY
$c-grey: #EEEEEE;
$c-grey--dark: #727272;

// BLUE
$c-blue: #6FA0D9;
$c-blue--light: #75ABE4;
$c-blue--dark: #395186;

// GREEN
$c-green: #78AF52;
$c-green--light: #A6D956;

// PURPLE
$c-purple: #E61873;

// RED
$c-red: #D62814;